In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Obesity dataset for PERU , MEXICO and COLOMBIA

In [3]:
obesity_df = pd.read_csv('../data/ObesityDataSet_raw_and_data_sinthetic.csv')
obesity_df

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

FAVC -Do you eat high caloric food frequently
FCVC -Do you usually eat vegetables in your meals
NCP -How many main meals do you have daily
CAEC-Do you eat any food between meals
SMOKE-Do you smoke
CH2O - How much water do you drink daily
SCC-Do you monitor the calories you eat daily
FAF-How often do you have physical activity
TUE-How much time do you use technological devices such as cell phone, video games, television, computer and others
CALC-How often do you drink alcohol
MTRANS-Which transportation do you usually use
NObeyesdad-Obesity level

In [5]:
obesity_df = obesity_df.rename(columns={'FAVC':'High_caloric_food','FCVC':'Number_of_vegetables','NCP':'Main_meals','CAEC':'Food_between_meals','SMOKE':'Smoke',
                                          'CH2O':'Water_intake','SCC':'Monitoring_calories','FAF' :'Physical_activity','TUE':'Screen_time','CALC' :'Alchohol',
                                        'MTRANS':'Transportation','NObeyesdad':'Obesity_level' })
obesity_df

,Gender,Age,Height,Weight,family_history_with_overweight,High_caloric_food,Number_of_vegetables,Main_meals,Food_between_meals,Smoke,Water_intake,Monitoring_calories,Physical_activity,Screen_time,Alchohol,Transportation,Obesity_level
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [6]:
obesity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   High_caloric_food               2111 non-null   object
 6   Number_of_vegetables            2111 non-null   float64
 7   Main_meals                      2111 non-null   float64
 8   Food_between_meals              2111 non-null   object
 9   Smoke                           2111 non-null   object
 10  Water_intake                    2111 non-null   float64
 11  Monitoring_calories             2111 non-null   object
 12  Physical_activity               2111 non-null   float64
 13  Screen_time                     2111 non-null   float64
 14  Alchohol                        2111 non-null   object
 15  Transportation                  2111 non-null   object
 16  Obesity_level                   2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [7]:
obesity_df.isnull().sum() ## no missimng values

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
High_caloric_food                 0
Number_of_vegetables              0
Main_meals                        0
Food_between_meals                0
Smoke                             0
Water_intake                      0
Monitoring_calories               0
Physical_activity                 0
Screen_time                       0
Alchohol                          0
Transportation                    0
Obesity_level                     0
dtype: int64

In [8]:
obesity_df.describe()

,Age,Height,Weight,Number_of_vegetables,Main_meals,Water_intake,Physical_activity,Screen_time
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [9]:
obesity_df.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history_with_overweight',
       'High_caloric_food', 'Number_of_vegetables', 'Main_meals',
       'Food_between_meals', 'Smoke', 'Water_intake', 'Monitoring_calories',
       'Physical_activity', 'Screen_time', 'Alchohol', 'Transportation',
       'Obesity_level'],
      dtype='object')

## Data Cleaning

In [11]:
obesity_df

,Gender,Age,Height,Weight,family_history_with_overweight,High_caloric_food,Number_of_vegetables,Main_meals,Food_between_meals,Smoke,Water_intake,Monitoring_calories,Physical_activity,Screen_time,Alchohol,Transportation,Obesity_level
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [12]:
obesity_df['Age'] = obesity_df['Age'].astype(int).round(2)   ## Age is rounded to 2 decimal place converted from Float to Int

In [13]:
obesity_df['Height'] = obesity_df['Height'].round(2)  ## Height  is rounded to 2 decimal place

In [14]:
obesity_df['Weight'] = obesity_df['Weight'].round(2)  ## Weight is rounded to 2 decimal place

In [15]:
obesity_df['Number_of_vegetables'] = obesity_df['Number_of_vegetables'].astype(int).round(2) ##  Vegetables is rounded to 2 decimal place converted from Float to Int

In [16]:
obesity_df['Main_meals'] = obesity_df['Main_meals'].astype(int).round(2) ##  Main_meals is rounded to 2 decimal place converted from Float to Int

In [17]:
obesity_df['Water_intake'] = obesity_df['Water_intake'].astype(int).round(2) ##  Water_intake  is rounded to 2 decimal place converted from Float to Int

In [18]:
obesity_df['Physical_activity'] = obesity_df['Physical_activity'].astype(int).round(2) ## Physical_activity  is rounded to 2 decimal place converted from Float to Int

In [19]:
obesity_df['Physical_activity'] = obesity_df['Physical_activity'].astype(int).round(2) ## Physical_activity  is rounded to 2 decimal place converted from Float to Int

In [20]:
obesity_df['Screen_time'] = obesity_df['Screen_time'].astype(int).round(2) ## Screen_time  is rounded to 2 decimal place converted from Float to Int

In [21]:
obesity_df

,Gender,Age,Height,Weight,family_history_with_overweight,High_caloric_food,Number_of_vegetables,Main_meals,Food_between_meals,Smoke,Water_intake,Monitoring_calories,Physical_activity,Screen_time,Alchohol,Transportation,Obesity_level
0,Female,21,1.62,64.00,yes,no,2,3,Sometimes,no,2,no,0,1,no,Public_Transportation,Normal_Weight
1,Female,21,1.52,56.00,yes,no,3,3,Sometimes,yes,3,yes,3,0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23,1.80,77.00,yes,no,2,3,Sometimes,no,2,no,2,1,Frequently,Public_Transportation,Normal_Weight
3,Male,27,1.80,87.00,no,no,3,3,Sometimes,no,2,no,2,0,Frequently,Walking,Overweight_Level_I
4,Male,22,1.78,89.80,no,no,2,1,Sometimes,no,2,no,0,0,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20,1.71,131.41,yes,yes,3,3,Sometimes,no,1,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21,1.75,133.74,yes,yes,3,3,Sometimes,no,2,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22,1.75,133.69,yes,yes,3,3,Sometimes,no,2,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24,1.74,133.35,yes,yes,3,3,Sometimes,no,2,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23,1.74,133.47,yes,yes,3,3,Sometimes,no,2,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III

 ## H in M, W in KG, Water_intake In L, Screen_time in H, Vegetables & main_meals on daily basis, Physical_activity on Weekly basis

In [23]:
obesity_df['BMI'] = obesity_df['Weight'] / (obesity_df['Height'] ** 2)  ##BMI

In [24]:
obesity_df

,Gender,Age,Height,Weight,family_history_with_overweight,High_caloric_food,Number_of_vegetables,Main_meals,Food_between_meals,Smoke,Water_intake,Monitoring_calories,Physical_activity,Screen_time,Alchohol,Transportation,Obesity_level,BMI
0,Female,21,1.62,64.00,yes,no,2,3,Sometimes,no,2,no,0,1,no,Public_Transportation,Normal_Weight,24.386526
1,Female,21,1.52,56.00,yes,no,3,3,Sometimes,yes,3,yes,3,0,Sometimes,Public_Transportation,Normal_Weight,24.238227
2,Male,23,1.80,77.00,yes,no,2,3,Sometimes,no,2,no,2,1,Frequently,Public_Transportation,Normal_Weight,23.765432
3,Male,27,1.80,87.00,no,no,3,3,Sometimes,no,2,no,2,0,Frequently,Walking,Overweight_Level_I,26.851852
4,Male,22,1.78,89.80,no,no,2,1,Sometimes,no,2,no,0,0,Sometimes,Public_Transportation,Overweight_Level_II,28.342381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20,1.71,131.41,yes,yes,3,3,Sometimes,no,1,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III,44.940324
2107,Female,21,1.75,133.74,yes,yes,3,3,Sometimes,no,2,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III,43.670204
2108,Female,22,1.75,133.69,yes,yes,3,3,Sometimes,no,2,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III,43.653878
2109,Female,24,1.74,133.35,yes,yes,3,3,Sometimes,no,2,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III,44.044788
2110,Female,23,1.74,133.47,yes,yes,3,3,Sometimes,no,2,no,1,0,Sometimes,Public_Transportation,Obesity_Type_III,44.084423

In [25]:
obesity_df.Age.describe()

count    2111.000000
mean       23.972525
std         6.308664
min        14.000000
25%        19.000000
50%        22.000000
75%        26.000000
max        61.000000
Name: Age, dtype: float64

Insufficient_Weight Less than 18.5
Normal 18.5 to 24.9
Overweight 25.0 to 29.9 ( Overweight_Level_II-26.989619)
Obesity I 30.0 to 34.9
Obesity II 35.0 to 39.9
Obesity III Higher than 40

obesity_df[['BMI','Obesity_level']].value_counts().reset_index().sort_values('count',ascending=False).head(50)

obesity_df['Age'].corr(obesity_df['BMI'])

fig, ax = plt.subplots(figsize=(8, 6))
sns.regplot(
    x=obesity_df["Age"],
    y=obesity_df["BMI"],color="purple",
    line_kws={"color": "black"},
    ax=ax
)
plt.show()

pop_df= pd.read_csv('../data/who_data_pop_indicators.csv')
pop_df

world_devlopment_indicators_df = pd.read_csv('../data/who_world_development_indicators.csv')
world_devlopment_indicators_df

## Obesity Adult Daily Calories Data For All Countries4

## 1975 to 2014

In [34]:
Obesity_daily_calories_df = pd.read_csv('../data/Obesity_daily_calories.csv')
Obesity_daily_calories_df

,Entity,Code,Year,Overweight or Obese (NCDRisC (2017)),Daily calorie supply per person,Population (historical),World regions according to OWID
0,Afghanistan,AFG,1975,7.1,2841.3257,12773967.0,NaN
1,Afghanistan,AFG,1976,7.1,2910.7578,13059861.0,NaN
2,Afghanistan,AFG,1977,7.2,2557.0142,13340758.0,NaN
3,Afghanistan,AFG,1978,7.3,2673.8977,13611445.0,NaN
4,Afghanistan,AFG,1979,7.3,2675.6190,13655572.0,NaN
...,...,...,...,...,...,...,...
61246,Zimbabwe,ZWE,1958,NaN,NaN,3580186.0,NaN
61247,Zimbabwe,ZWE,1959,NaN,NaN,3692810.0,NaN
61248,Zimbabwe,ZWE,1960,NaN,NaN,3809393.0,NaN
61249,Zimbabwe,ZWE,2022,NaN,NaN,16069061.0,NaN
61250,Zimbabwe,ZWE,2023,NaN,NaN,16340829.0,Africa

In [35]:
Obesity_daily_calories_df['Overweight or Obese (NCDRisC (2017))'].value_counts()

Overweight or Obese (NCDRisC (2017))
9.6     33
10.9    32
11.5    32
7.3     32
10.5    32
        ..
82.3     1
82.6     1
4.2      1
3.9      1
73.7     1
Name: count, Length: 765, dtype: int64

## Obesity Adults Data For All Countries (1975-2016)

In [37]:
Obesity_adult_df = pd.read_csv('../data/Obesity_adult.csv')
Obesity_adult_df

,Entity,Code,Year,"Prevalence of obesity among adults, BMI >= 30 (crude estimate) (%) - Sex: both sexes - Age group: 18+ years"
0,Afghanistan,AFG,1975,0.4
1,Afghanistan,AFG,1976,0.4
2,Afghanistan,AFG,1977,0.5
3,Afghanistan,AFG,1978,0.5
4,Afghanistan,AFG,1979,0.5
...,...,...,...,...
8269,Zimbabwe,ZWE,2012,11.1
8270,Zimbabwe,ZWE,2013,11.3
8271,Zimbabwe,ZWE,2014,11.6
8272,Zimbabwe,ZWE,2015,11.9
8273,Zimbabwe,ZWE,2016,12.3

In [38]:
world_development_indicators_all_countries = pd.read_csv('../data/world_development_indicators_all_countries.csv')
world_development_indicators_all_countries

,Country Name,Country Code,Series Name,Series Code,1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,142.241,141.602,141.159,141.317,138.594,136.482,...,101.454,97.415,94.018,90.342,88.431,86.803,84.296,82.565,79.735,..
1,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,22.1370413719574,20.6343227166798,25.7403140364582,26.4201990834448,22.0428967527575,25.7739707394105,29.9755825210461,33.5976188725451,33.7014323213923,..
2,Afghanistan,AFG,"Annual freshwater withdrawals, total (% of int...",ER.H2O.FWTL.ZS,22.6935312831389,25.4173029338282,28.1410745847296,30.8648462354189,33.5886178861082,36.3123895370095,...,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,..,..
3,Afghanistan,AFG,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,..,..,..,..,..,..,...,45.2,50.5,..,53.4,58.8,..,61.8,..,..,..
4,Afghanistan,AFG,"Contraceptive prevalence, any method (% of mar...",SP.DYN.CONU.ZS,..,..,..,..,..,..,...,..,22.5,22.5,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14101,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14102,Last Updated: 11/13/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
world_development_indicators_all_countries.shape

(14103, 53)

In [40]:
world_development_indicators_all_countries = world_development_indicators_all_countries.rename(columns ={'1975 [YR1975]':'1975', '1976 [YR1976]':'1976', '1977 [YR1977]':'1977', '1978 [YR1978]':'1978',
       '1979 [YR1979]':'1979', '1980 [YR1980]':'1980', '1981 [YR1981]':'1981', '1982 [YR1982]':'1982',
       '1983 [YR1983]':'1983', '1984 [YR1984]':'1984', '1985 [YR1985]':'1985', '1986 [YR1986]':'1986',
       '1987 [YR1987]':'1987', '1988 [YR1988]':'1988', '1989 [YR1989]':'1989', '1990 [YR1990]':'1990',
       '1991 [YR1991]':'1991', '1992 [YR1992]':'1992', '1993 [YR1993]':'1993', '1994 [YR1994]':'1994',
       '1995 [YR1995]':'1995', '1996 [YR1996]':'1996', '1997 [YR1997]':'1997', '1998 [YR1998]':'1998',
       '1999 [YR1999]':'1999', '2000 [YR2000]':'2000', '2001 [YR2001]':'2001', '2002 [YR2002]':'2002',
       '2003 [YR2003]':'2003', '2004 [YR2004]':'2004', '2005 [YR2005]':'2005', '2006 [YR2006]':'2006',
       '2007 [YR2007]':'2007', '2008 [YR2008]':'2008', '2009 [YR2009]':'2009', '2010 [YR2010]':'2010',
       '2011 [YR2011]':'2011', '2012 [YR2012]':'2012', '2013 [YR2013]':'2013', '2014 [YR2014]':'2014',
       '2015 [YR2015]':'2015', '2016 [YR2016]':'2016', '2017 [YR2017]':'2017', '2018 [YR2018]':'2018',
       '2019 [YR2019]':'2019', '2020 [YR2020]':'2020', '2021 [YR2021]':'2021', '2022 [YR2022]':'2022',
       '2023 [YR2023]':'2023'})
world_development_indicators_all_countries.head()

,Country Name,Country Code,Series Name,Series Code,1975,1976,1977,1978,1979,1980,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,142.241,141.602,141.159,141.317,138.594,136.482,...,101.454,97.415,94.018,90.342,88.431,86.803,84.296,82.565,79.735,..
1,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,..,..,..,..,..,..,...,22.1370413719574,20.6343227166798,25.7403140364582,26.4201990834448,22.0428967527575,25.7739707394105,29.9755825210461,33.5976188725451,33.7014323213923,..
2,Afghanistan,AFG,"Annual freshwater withdrawals, total (% of int...",ER.H2O.FWTL.ZS,22.6935312831389,25.4173029338282,28.1410745847296,30.8648462354189,33.5886178861082,36.3123895370095,...,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,43.0159066808059,..,..
3,Afghanistan,AFG,Births attended by skilled health staff (% of ...,SH.STA.BRTC.ZS,..,..,..,..,..,..,...,45.2,50.5,..,53.4,58.8,..,61.8,..,..,..
4,Afghanistan,AFG,"Contraceptive prevalence, any method (% of mar...",SP.DYN.CONU.ZS,..,..,..,..,..,..,...,..,22.5,22.5,..,..,..,..,..,..,..

In [41]:
world_development_indicators_all_countries.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023'],
      dtype='object')